<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{{{PageTitle}}}</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

   <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/css/general-style.min.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="/img/core-img/logo.png" alt="" /></a>
                            </div>
                            <!-- Login Search Area -->
                            <!-- Login -->
                            <div class="login d-flex d-flex align-items-center">
                                <a href="/account/login">Đăng nhập</a>
                                <a href="/account/register">Đăng ký</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar d-flex justify-content-between align-items-center" id="newspaperNav">
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li {{#if activeNavCat}}{{else}}class="active"{{/if}}><a href="/">Trang chủ</a></li>
                                    {{#each localGroupedCategories as |row rindex|}}
                                    <li class="{{#ifEquals ../activeNavCat row.0.category_id}}active{{/ifEquals}}">
                                        <a href="/category/{{row.0.category_id}}">{{row.0.category_name}}</a>
                                        <ul class="dropdown">
                                            {{#each row}}
                                            {{#if @first}}
                                            {{else}}
                                            <li><a href="/category/{{this.category_id}}">{{this.category_name}}</a></li>
                                            {{/if}}
                                            {{/each}}
                                        </ul>
                                    </li>
                                    {{/each}}

                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="/img/core-img/logo-white.png" alt=""></a>
                        </div>

                        <button type="button" id="toggle-search-bar"><i class="fa fa-search"></i></button>
                    </nav>
                </div>
            </div>
            <div class="container">
                <div class="searchbar">
                    <input type="text" placeholder="Nhập từ khóa để tìm kiếm..." />
                    <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <div class="mt-15" style="min-height:90vh !important">
        {{{body}}}
    </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="footer-divider"></div>
        <div class="footer-nav container d-flex justify-content-between align-items-center">
            <a href="/">Trang chủ</a>
            <a href="/about">Về chúng tôi</a>
            <a href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
        </div>
        <a href="/"><img src="/img/core-img/logo-white.png"></a>
        <div style="color:#fff;font-weight:400;font-size:12px">Bản quyền &copy; 2019 thuộc về TNT News Team. All rights reserved.</div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <!-- Homepage js -->
    <script src="/js/homepage.js"></script>
    <!-- Owl Carousel js-->
    <script src="/js/owlcarousel/owl.carousel.min.js"></script>
</body>

</html>