<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{{{PageTitle}}}</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="css/general-style.min.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="img/core-img/logo.png" alt="" /></a>
                            </div>
                            <!-- Login Search Area -->
                            <!-- Login -->
                            <div class="login d-flex d-flex align-items-center">
                                <a href="login.html">Đăng nhập</a>
                                <a href="signup.html">Đăng ký</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar d-flex justify-content-between align-items-center" id="newspaperNav">
                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="index.html">Trang chủ</a></li>
                                    {{#each localCategories as |row rindex|}}
                                    <li>
                                        <a href="categories-post.html">{{row.0.category_name}}</a>
                                        <ul class="dropdown">
                                            {{#each row}}
                                            {{#if @first}}
                                            {{else}}
                                            <li><a href="categories-post.html">{{this.category_name}}</a></li>
                                            {{/if}}
                                            {{/each}}
                                        </ul>
                                    </li>
                                    {{/each}}
                                    
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="img/core-img/logo-white.png" alt=""></a>
                        </div>

                        <button type="button" id="toggle-search-bar"><i class="fa fa-search"></i></button>
                    </nav>
                </div>
            </div>
            <div class="container">
                <div class="searchbar">
                    <input type="text" placeholder="Nhập từ khóa để tìm kiếm..." />
                    <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <!-- Breaking News Widget -->
                    <div class="breaking-news-area d-flex align-items-center">
                        <div class="news-title">
                            <p>Tin cập nhật</p>
                        </div>
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="single-post.html">Xem xét kỷ luật nguyên Phó thủ tướng Vũ Văn Ninh</a></li>
                                <li><a href="single-post.html">Giá điện tăng mạnh, thấp nhất hơn 8.000 đồng 1KWh</a></li>
                                <li><a href="single-post.html">Giá ga tăng lên 1.000.000 đồng 1 bình 12l</a></li>
                                <li><a href="single-post.html">Được nâng 30 điểm, thí sinh ở Hà Giang nói gì?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Hero Area End ##### -->

        {{{body}}}

        <!-- ##### Footer Area Start ##### -->
        <div class="footer-divider"></div>
        <footer class="footer-area">
            <div class="footer-nav container d-flex justify-content-between align-items-center">
                <a href="index.html">Trang chủ</a>
                <a href="about.html">Về chúng tôi</a>
                <a href="about.html">FAQ</a>
                <a href="www.facebook.com"><i class="fa fa-facebook-f"></i></a>
                <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
            </div>
            <img src="img/core-img/logo.png">
            <div>Bản quyền &copy; 2019 thuộc về TNT News Team. All rights reserved.</div>
        </footer>
        <!-- ##### Footer Area End ##### -->

        <!-- ##### All Javascript Files ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="js/plugins/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>
        <!-- Homepage js -->
        <script src="js/homepage.js"></script>
        <!-- Owl Carousel js-->
        <script src="js/owlcarousel/owl.carousel.min.js"></script>
</body>

</html>