<!-- ##Featured Post Slider-->
        <div class="slider-area">
            <div class="owl-carousel owl-theme" id="featured-post-slider">
                {{#each FeaturedPosts}}
                <div class="single-slider-post">
                    <img src="/{{this.post_bigthumbnail}}" alt="{{this.post_title}}">
                    <div class="single-slide-content">
                        <a class="post-category {{this.category_class}}" href="/category/{{this.post_category}}">{{this.category_name}}</a>
                        {{#isPremiumPost this.post_type}}{{/isPremiumPost}}
                        <div class="slider-post-title"><a href="/post/{{this.post_id}}">{{this.post_title}}</a></div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
<!-- Featured Post Slider End-->

<!-- ##### Featured Post Area Start ##### -->
        <div class="featured-post-area mb-15">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="container">
                            <div class="section-heading">
                                <h6>Tin mới nhất</h6>
                            </div>
                            <!-- Single Featured Post -->
                            {{#each LatestPosts as |lRow|}}
                            <div class="row">
                                {{#each lRow}}
                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href="/post/{{this.post_id}}"><img src="/{{this.post_thumbnail}}" alt="{{this.post_title}}"></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="/category/{{this.post_category}}" class="post-category {{this.category_class}}">{{this.category_name}}</a>
                                        {{#isPremiumPost this.post_type}}{{/isPremiumPost}}
                                        <div class="post-meta">
                                            <a href="/post/{{this.post_id}}" class="post-title">
                                                <h6>{{this.post_title}}</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date d-flex align-item-center"><span><i class="far fa-clock mr-1"></i></span><span>Ngày {{formatDate this.post_time}}</span></p>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <!--Most Viewd Block-->
                        <div class="section-heading">
                            <h6>Xem nhiều nhất</h6>
                        </div>

                        {{#each MostViewPosts}}
                        <!-- Single Most Viewed Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="/post/{{this.post_id}}"><img src="/{{this.post_thumbnail}}" alt="{{this.post_title}}"></a>
                            </div>
                            <div class="post-data">
                                <a href="/category/{{post_category}}" class="post-category {{this.category_class}}">{{this.category_name}}</a>
                                {{#isPremiumPost this.post_type}}{{/isPremiumPost}}
                                <div class="post-meta">
                                    <a href="/post/{{this.post_id}}" class="post-title">
                                        <h6>{{this.post_title}}</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>Ngày {{formatDate this.post_time}}</span></p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{#if isAuthenticatied}}
                        {{else}}
                        <div class="newsletter-widget">
                            <h4>Đăng kí Subscriber</h4>
                            <p>Để được xem và tải các bài Premium!</p>
                            <form action="/register">
                                <button type="submit" class="btn w-100">Đăng ký</button>
                            </form>
                        </div>
                        {{/if}}
                    </div>

                    <!-- Newsletter Widget -->
                </div>
            </div>
        </div>
        <!-- ##### Featured Post Area End ##### -->
        <div class="footer-divider"></div>
        <!-- ##### Video Post Area Start ##### -->
        <div class="top-category-post-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
            <div class="container">
                <div class="top-category-post-heading d-flex justify-content-between align-items-center">
                    <div class="top-cat-post-title">Top 10 chuyên mục</div>
                    <div class="top-cat-slider-control">
                        <button type="button" class="top-cat-slider-button" id="top-cat-slider-button-prev"><i
                                class="fa fa-angle-left"></i></button>
                        <button type="button" class="top-cat-slider-button" id="top-cat-slider-button-next"><i
                                class="fa fa-angle-right"></i></button>
                    </div>
                </div>
                <div class="owl-carousel owl-theme" id="top-category-posts-slider">
                    {{#each PostsOfTopCategory}}
                    <div class="single-top-category-post">
                        <a href="/category/{{this.post_category}}" class="post-category {{this.category_class}}">{{this.category_name}}</a>
                        {{#isPremiumPost this.post_type}}{{/isPremiumPost}}
                        <a href="/post/{{this.post_id}}"><img src="/{{this.post_thumbnail}}" alt="{{this.post_title}}"></a>
                        <div class="top-cat-post-title"><a href="/post/{{this.post_id}}">{{this.post_title}}</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>Ngày {{formatDate this.post_time}}</span></p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- ##### Video Post Area End ##### -->