{{#if pages}}
<div class="card shadow mb-4">
    <div class="card-body">
        {{#each AccInfo}}
        <div>
            <p>Id</p>
            <div class="">{{acc_id}}</div>
            <p>Email</p>
            <div class="">{{acc_email}}</div>
            <p>Full Name</p>
            <div class="">{{acc_fullname}}{{#if acc_pseudonym}}/{{acc_pseudonym}}{{/if}}</div>
            <p>Permission</p>
            <div class="">{{acc_permission}}</d>
            </div>
            {{/each}}
        </div>
    </div>

    <div>
        
    </div>
    <nav class="d-flex justify-content-center" aria-label="...">
        <ul class="pagination">
            {{#each this.pages}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
            </li>
            {{else}}
            <li class="page-item">
                <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </nav>
    {{else}}
    <h6 class="text-center">Không có người dùng nào</h6>
    {{/if}}