{{#section 'css'}}
<link rel="stylesheet" href="/css/jquery.datetimepicker.min.css">
<style>
    .del-on-click {
        background: #fff !important;
        border-style: dashed;
    }

    .del-on-click:hover {
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="/css/fileinput.min.css" type="text/css">
{{/section}}
{{#section 'js'}}
<script src="/js/jquery/jquery.datetimepicker.full.min.js" type="text/javascript"></script>
<script>
    $(function () {
        $('input[name="post_status"]').change(function () {
            if ($('#approveChecked').is(':checked')) {
                $('#publishDate').prop('disabled', false);
                $('#titlePublishDate').text('Ngày đăng');
            } else {
                $('#publishDate').prop('disabled', true);
                $('#titlePublishDate').text('Thời điểm thay đổi');
            }
        });
        if (!($('#approveChecked').is(':checked'))) {
            $('#publishDate').prop('disabled', true);
            $('#titlePublishDate').text('Ngày đăng');
        }
        $('#publishDate').datetimepicker({
            format: 'H:m:s d/m/Y',
            timepicker: true,
            mask: true,
        });
    })
    var deleteThis = function (t) {
        t.parentNode.removeChild(t);
    }
    $('.trim-text-change').on('focusout', function () {
        $(this).val($.trim($(this).val().replace(/\s\s+/g, ' ')));
    });
    $('#btnNewTag').click(function () {
        if ($('#txtNewTag').val() != '') {
            $('#txtNewTag').prop('placeholder', 'Thêm nhãn...');
            $('#tagBox').append(`<input class="form-control del-on-click border-secondary mt-1" type="text" name="post_tags[]"
                                value="${$('#txtNewTag').val()}" onclick = "deleteThis(this)" readonly>`);
            $('#txtNewTag').val('');
        } else {
            $('#txtNewTag').prop('placeholder', 'Tên nhãn không được trống!');
        }
    });
    $('#btnForcePublish').click(function () {
        $('#editPostForm').prop('action', '?forcePublish=1');
        $('#editPostForm').submit();
    });
</script>
<script src="/js/fileinput/fileinput.min.js"></script>
<script src="/js/fileinput/themes/fa/theme.min.js"></script>
<script src="/js/fileinput/locales/vi.min.js"></script>
<script src="/js/fileinput/piexif.js"></script>
<script>
    $(function () {
        $('#imageUploader').fileinput({
            resizeImage: true,
            maxImageWidth: 1024,
            maxImageHeight: 768,
            resizePreference: 'height',
            theme: 'fa',
            dropZoneEnabled: true,
            allowedFileExtensions: ['png', 'jpg', 'gif'],
            uploadUrl: '/upload',
            uploadAsync: false,
            autoReplace: true,
            maxFileCount: 1,
            language: 'vi'
        });
    });
    var getUrltoTinyMCE = function(){
        if($('.file-preview-frame .kv-file-content img')){
        var imgurl = $('.file-preview-frame .kv-file-content img').attr('src');
        if(!imgurl.startsWith("data"))
        tinyMCE.execCommand('mceInsertContent', false, '<img src="' + imgurl + '"/>');
        }
    }
</script>
<script src="/js/tinymce/tinymce.min.js"></script>
<script src="/js/tinymce/customized.js"></script>
{{/section}}

<form id="editPostForm" method="POST" action="?forcePublish=0">
    <div class="col-lg-12">
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-body d-flex justify-content-between align-items-center w-100">
                    {{#if (isPublished Post.post_status post_time)}}
                    <h6 class="m-0 text-success font-weight-bold"><i class="fa fa-check-circle mr-1"></i>Đã xuất bản
                    </h6>
                    {{else}}
                    {{#ifEquals Post.post_status 'publish'}}
                    <h6 class="m-0 text-success font-weight-bold"><i class="fa fa-check-circle mr-1"></i>Đã được duyệt
                    </h6>
                    {{/ifEquals}}
                    {{/if}}
                    {{#ifEquals Post.post_status 'deny'}}
                    <h6 class="m-0 text-danger font-weight-bold"><i class="fa fa-times-circle mr-1"></i>Bị từ chối</h6>
                    {{/ifEquals}}
                    {{#ifEquals Post.post_status 'wait'}}
                    <h6 class="m-0 text-warning font-weight-bold"><i class="far fa-clock mr-1"></i>Đang chờ duyệt
                    </h6>
                    {{/ifEquals}}
                    <h6 class="text-dark font-weight-bold m-0">ID bài viết: {{Post.post_id}}</h6>
                    {{#if (isPublished Post.post_status Post.post_time)}}
                    {{else}}
                    <button id="btnForcePublish" type="button" class="btn btn-success text-white"><i
                            class="fas fa-newspaper mr-1"></i>Lưu và
                        Xuất bản</button>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <h6 class="font-weight-bold text-dark">Tiêu đề bài viết</h6>
                        <div class="form-group">
                            <input class="form-control trim-text-change" type="text" required name="post_title"
                                placeholder="Dưới 50 ký tự" value="{{Post.post_title}}">
                        </div>
                        <h6 class="font-weight-bold text-dark">Ảnh đại diện bài viết (nhỏ)</h6>
                        <div class="form-group">
                            <input class="form-control trim-text-change" type="text" required name="post_thumbnail"
                                placeholder="URL ảnh nên khoảng 400px x 300px" value="{{Post.post_thumbnail}}"></input>
                        </div>
                        <h6 class="font-weight-bold text-dark">Ảnh đại diện bài viết (lớn)</h6>
                        <div class="form-group">
                            <input class="form-control trim-text-change" type="text" required name="post_bigthumbnail"
                                placeholder="URL ảnh nên khoảng 1000px x 400px"
                                value="{{Post.post_bigthumbnail}}"></input>
                        </div>
                        <h6 class="font-weight-bold text-dark">Tóm tắt</h6>
                        <div class="form-group">
                            <textarea class="form-control trim-text-change" type="text" required name="post_summary" rows="4"
                                placeholder="Tối đa 255 ký tự">{{Post.post_summary}}</textarea>
                        </div>
                        <h6 class="font-weight-bold text-dark">Nội dung bài viết</h6>
                        <div class="form-group">
                            <textarea required id="mytiny" name="post_content">
                                 {{Post.post_content}}
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        {{#if isEdit}}
                        <h6 class="text-dark">Tác giả <span class="font-weight-bold">{{Post.writer_pseudonym}}</span>
                        </h6>
                        {{#if Post.post_editor}}
                        <h6 class="text-dark">Biên tập viên <span class="font-weight-bold">{{Post.editor_name}}</span>
                        </h6>
                        {{/if}}
                        <hr>
                        {{/if}}
                        <h6 class="font-weight-bold text-dark">Loại bài viết</h6>
                        <div class="form-group d-flex justify-content-around mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="standardChecked" name="post_type"
                                    value="standard" {{#ifEquals Post.post_type 'standard'}}checked{{/ifEquals}} {{#if ../isEdit}}{{else}}checked{{/if}}>
                                <label class="custom-control-label" for="standardChecked">Tiêu chuẩn</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="premiumChecked" name="post_type"
                                    value="premium" {{#ifEquals Post.post_type 'premium'}}checked{{/ifEquals}}>
                                <label class="custom-control-label" for="premiumChecked">Premium</label>
                            </div>
                        </div>
                        <h6 class="font-weight-bold text-dark">Chuyên mục</h6>
                        <div class="form-group mb-4">
                            <select class="custom-select" name="post_category">
                                {{#each localCategories}}
                                <option value="{{this.category_id}}"
                                    {{#ifEquals this.category_id ../Post.post_category}}selected{{/ifEquals}}>
                                    {{this.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <h6 class="font-weight-bold text-dark">Nhãn</h6>
                            <div id="tagBox" class="mb-1">
                                {{#each Tags}}
                                <input class="form-control del-on-click border-secondary mt-1" type="text"
                                    name="post_tags[]" value="{{this.tag_name}}" onclick="deleteThis(this)" readonly>
                                {{/each}}
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control trim-text-change" placeholder="Thêm nhãn..."
                                    aria-label="Nhập nhãn mới" id="txtNewTag">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" aria-label="Thêm nhãn"
                                        id="btnNewTag"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <button type="button" class="btn btn-outline-primary w-100" data-toggle="modal"
                                data-target="#uploadImageForm"><i class="fas fa-file-upload mr-2"></i>Tải ảnh
                                lên</button>
                        </div>
                        <hr>
                        <h6 class="font-weight-bold text-dark">Trạng thái</h6>
                        <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="waitChecked" name="post_status"
                                    value="wait" {{#ifEquals Post.post_status 'wait'}}checked{{/ifEquals}}>
                                <label class="custom-control-label text-warning font-weight-bold" for="waitChecked">Đang
                                    chờ
                                    duyệt</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="denyChecked" name="post_status"
                                    value="deny" {{#ifEquals Post.post_status 'deny'}}checked{{/ifEquals}}>
                                <label class="custom-control-label text-danger font-weight-bold" for="denyChecked">Từ
                                    chối</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="approveChecked" name="post_status"
                                    value="publish"
                                    {{#if (isPublished Post.post_status Post.post_time)}}{{else}}{{#ifEquals Post.post_status 'publish'}}checked{{/ifEquals}}{{/if}}>
                                <label class="custom-control-label text-success font-weight-bold"
                                    for="approveChecked">Đã
                                    duyệt</label>
                            </div>
                        </div>
                        <h6 class="font-weight-bold text-dark" id="titlePublishDate"></h6>
                        <input type="text" class="form-control form-control-user" id="publishDate" name="post_time"
                            placeholder="Thời điểm đăng (DD/MM/YYYY HH:mm:ss)" value="{{{formatTime Post.post_time}}}">
                        <hr>
                        <button type="submit"
                            class="btn btn-success text-white w-100 mb-4">{{{PostButtonTitle}}}</button>
                        <hr>
                        <button id="btnDeletePost" type="button" class="btn btn-outline-danger w-100" data-toggle="modal" data-target="#deleteForm"><i class="fas fa-trash mr-2"></i>Xóa bài viết</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
{{#if isEdit}}
<div class="modal hide" id="deleteForm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="POST" action="delete/{{Post.post_id}}">
                <div class="modal-body">
                    <h5 class="font-weight-bold text-center"><i class="fas fa-exclamation-triangle mr-2"></i>Bạn thực sự muốn xóa bài viết này?</h5>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash mr-2"></i>Xóa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/if}}

<div class="modal hide" id="uploadImageForm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-primary text-center font-weight-bold m-0 w-100">Upload hình ảnh</h5>
            </div>
            <form method="POST" action>
                <div class="modal-body">
                    <input id="imageUploader" name="imageUpload" type="file" multiple>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="getUrltoTinyMCE()">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>