{{#section 'css'}}
<link rel="stylesheet" href="/css/jquery.datetimepicker.min.css">
<style>
    .mce-notification {
        display: none !important;
    }

    .del-on-click {
        background: #fff !important;
        border-style: dashed;
    }

    .del-on-click:hover {
        cursor: pointer;
    }
</style>
{{/section}}
{{PageTitle}}
<div class="col-lg-12">
    <div class="row">
        <div class="col-xl-8">
            {{#each AccInfo}}
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <p class="font-weight-bold text-dark">ID</p>
                    <div class="form-group">{{acc_id}}</div>
                    <p class="font-weight-bold text-dark">Email</p>
                    <div class="form-group">{{acc_email}}</div>
                    <p class="font-weight-bold text-dark">Full Name</p>
                    <div class="form-group">{{acc_fullname}}</div>
                    <p class="font-weight-bold text-dark">Pseudonym</p>
                    <div class="form-group">{{acc_pseudonym}} </div>
                    <p class="font-weight-bold text-dark">Permission</p>
                    <div class="form-group">{{acc_permission}}</div>
                    <p class="font-weight-bold text-dark">Date of Birth</p>
                    <div class="form-group">{{acc_birthdate}}</div>
                </div>
                <div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>