
{{PageTitle}}
<div class="card shadow mb-4">
    <div class="card-body">
        {{#each AccInfo}}
        <div>
            <p>Id</p>
            <div class="">{{acc_id}}</div>
            <p>Email</p>
            <div class="">{{acc_email}}</div>
            <p>Full Name</p>
            <div class="">{{acc_fullname}}</div>
            <p>Pseudonym</p>
            <div class="">{{acc_pseudonym}} </div>
            <p>Permission</p>
            <div class="">{{acc_permission}}</div>
            <p>Date of Birth</p>
            <div class="">{{acc_birthdate}}</div>
            {{/each}}
        </div>
    </div>
</div>
