{{#section 'js'}}
<script>
    $(function () {
        var searchUrl = window.location.href;
        var searchParams = new URLSearchParams(searchUrl);
        searchParams.has("title") ? $('#titleCheck').prop('checked', true) : $('#titleCheck').prop('checked', false);
        searchParams.has("summary") ? $('#summaryCheck').prop('checked', true) : $('#summaryCheck').prop('checked', false);
        searchParams.has("content") ? $('#contentCheck').prop('checked', true) : $('#contentCheck').prop('checked', false);
        $('#titleCheck').on('change', function () {
            if ($(this).is(':checked')) {
                searchParams.append("title","true");
                window.location.replace(decodeURIComponent(searchParams.toString()))
            } else {
                searchParams.delete("title");
                window.location.replace(decodeURIComponent(searchParams.toString()))
            }
        })
        $('#summaryCheck').on('change', function () {
            if ($(this).is(':checked')) {
                searchParams.append("summary","true");
                window.location.replace(decodeURIComponent(searchParams.toString()))
            } else {
                searchParams.delete("summary");
                window.location.replace(decodeURIComponent(searchParams.toString()))
            }
        })
        $('#contentCheck').on('change', function () {
            if ($(this).is(':checked')) {
                searchParams.append("content","true");
                window.location.replace(decodeURIComponent(searchParams.toString()))
            } else {
                searchParams.delete("content");
                window.location.replace(decodeURIComponent(searchParams.toString()))
            }
        })
    });
</script>
{{/section}}

<!-- ##### Blog Area Start ##### -->
<div class="blog-area">
    <div class="container">
        <div class="section-heading text-center">
            <h6>{{PageTitle}}</h6>
            {{#if isSearch}}
            <div id="searchFilterBox" class="d-flex justify-content-around align-items-center rounded"
                style="max-width: 360px; height:50px; background-color:#2196f3; margin:0 auto;">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="titleCheck">
                    <label class="custom-control-label text-white font-weight-bold" for="titleCheck">Tiêu đề</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="summaryCheck">
                    <label class="custom-control-label text-white font-weight-bold" for="summaryCheck">Tóm tắt</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="contentCheck">
                    <label class="custom-control-label text-white font-weight-bold" for="contentCheck">Nội dung</label>
                </div>
            </div>
            {{else}}
            <div style="margin: 0 200px; height:2px; background-color:#2196f3;"></div>
            {{/if}}
            {{#if pages}}
            {{else}}
            <h6 class="mt-30">Không có bài nào</h6>
            {{/if}}
        </div>
        <div class="blog-posts-area mr-50 ml-30">
            <!-- Single Featured Post -->
            {{#each PostMetaData}}
            <div class="single-blog-post featured-post">
                <div class="row d-flex align-items-center col 12">
                    <div class="post-thumb col-md-4">
                        <a href="/post/{{this.0.post_id}}"><img src="{{{this.0.post_thumbnail}}}"
                                alt="{{this.0.post_title}}"></a>
                    </div>
                    <div class="post-data col-md-8">
                        <a href="/category/{{this.0.post_category}}"
                            class="post-category {{this.0.category_class}}">{{this.0.category_name}}</a>
                        {{#ifEquals this.0.post_type 'premium'}} <a class="post-category post_premium"
                            style="margin-left:5px;"><i class="fa fa-star" aria-hidden="true"
                                title="Bài viết Premium"></i></a>{{/ifEquals}}
                        <a href="/post/{{this.0.post_id}}" class="post-title">
                            <h6>{{this.0.post_title}}</h6>
                        </a>
                        <div class="post-meta">
                            <p class="post-date">Ngày {{formatDate this.0.post_time}}</p>
                            <p class="post-excerp">{{this.0.post_summary}}</p>
                        </div>
                        {{#if this.[1]}}
                        {{#each this.[1]}}
                        <span class="badge badge-dark">
                            <a class="text-white" href="/tag/{{this.posttag_tag}}">{{this.tag_name}}</a>
                        </span>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="m-30 " style="height:1px; background-color:lightgrey;"></div>
            </div>
            {{/each}}
        </div>

        <div class="row d-flex justify-content-center m-3">
            <nav aria-label="Phân trang">
                <ul class="pagination mt-50">
                    {{#each pages}}
                    {{#if active}}
                    <li class="page-item active"><a class="page-link" href="javascript:;">{{value}}</a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                    {{/if}}
                    {{/each}}
                </ul>
            </nav>
        </div>

    </div>
</div>
<!-- ##### Blog Area End ##### -->