{{#section 'js'}}
<script>
$(function(){
    $('.single-page-post .post-data .post-meta img').parent().prop('class','text-center');
});
</script>
{{/section}}
<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-80-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <div class="single-page-post featured-post single-post">
                        <div class="post-thumb">
                            <a href="javascript:;"><img src="{{{Post.post_bigthumbnail}}}"
                                    alt="{{{Post.post_title}}}"></a>
                        </div>
                        <div class="post-data">
                            <a href="/category/{{Post.post_category}}"
                                class="post-category {{Post.category_class}}">{{Post.category_name}}</a>
                            <a href="javascript:;" class="post-title">
                                <h6>{{{Post.post_title}}}</h6>
                            </a>
                            <div class="post-meta">
                                <p class="post-author">Tác giả <a href="javascript:;">{{Post.acc_pseudonym}}</a> đăng
                                    ngày {{formatDate Post.post_time}}</p>
                                {{{Post.post_content}}}
                            </div>
                            {{#if TagList}}
                            <div>
                                Nhãn bài viết:
                                {{#each TagList}}
                                <span class="badge badge-dark">
                                    <a class="text-white" href="{{this.tag_id}}">{{{this.tag_name}}}</a>
                                </span>
                                {{/each}}
                            </div>
                            {{/if}}
                        </div>
                    </div>

                    <!-- Comment Area Start -->
                    {{#if CommentList}}
                    <div class="comment_area">
                        <h5 class="title">{{CommentCount}} bình luận</h5>
                        {{#each CommentList}}
                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content">
                                    <div class="comment-meta">
                                        <p class="post-author">{{this.cmt_accountname}}</p>
                                        <p class="post-date">{{formatDate this.cmt_time}}</p>
                                        <p class="post-content">{{{this.cmt_content}}}</p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        {{/each}}
                    </div>
                    {{else}}
                    <h5>Chưa có bình luận nào</h5>
                    <hr>
                    {{/if}}
                    <div class="post-a-comment-area mt-50 mb-100">
                        {{#if isAuthenticated}}
                        <h4>Bình luận qua tài khoản {{accountName}}</h4>
                        <!-- Reply Form -->
                        <div class="contact-form-area">
                            <form action="{{Post.post_id}}/comment" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <textarea name="cmt_content" class="form-control" id="comment" cols="30"
                                            rows="3" placeholder="Nhập bình luận"></textarea>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn newspaper-btn mt-30 w-100" type="submit">Đăng bình
                                            luận</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{else}}
                        <form method="GET" action="/account/login">
                            <button class="btn newspaper-btn mt-30 w-100" type="submit">Đăng bình
                                luận</button>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">
                    <div class="section-heading">
                        <h6>
                            Cùng chuyên mục
                        </h6>
                    </div>
                    <!-- Latest Posts Widget -->
                    <div class="latest-posts-widget mb-50">
                        {{#each SameCategoryPosts}}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="/post/{{this.post_id}}"><img src="{{{this.post_thumbnail}}}"
                                        alt="{{this.post_title}}"></a>
                            </div>
                            <div class="post-data">
                                <a href="/category/{{this.post_category}}"
                                    class="post-category {{this.category_class}}">{{this.category_name}}</a>
                                <div class="post-meta">
                                    <a href="/post/{{this.post_id}}" class="post-title">
                                        <h6>{{this.post_title}}</h6>
                                    </a>
                                    <p class="post-date">Ngày {{formatDate this.post_time}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <!-- Newsletter Widget -->
                        {{#if isAuthenticated}}
                        {{else}}
                        <div class="newsletter-widget">
                            <h4>Đăng kí Subscriber</h4>
                            <p>Để được xem và tải các bài Premium!</p>
                            <form action="/account/register" method="GET">
                                <button type="submit" class="btn w-100">Đăng ký</button>
                            </form>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->